* {
    box-sizing: border-box;
  }

  nav {
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }
  nav a {
    color: #d9ead3;
    padding-right: 20px;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }
  
  button {
    background-color: #d9ead3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
 
  
  .article {
    border-style: solid;
    border-width: medium;
    margin: 0;
    padding: 0;
  }

  .title {
      font-size: large;
      color: darkgray;
      background-color: #23100f;
      flex-direction: row;
      justify-content: space-between;
  }

  .meta {
      border-style: solid;
      border-width: medium;
  }  
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  header {
      background-color: #23100f;
      padding-left: 20px;
      color: #d9ead3;
  }

  header h1 a {
      color: #d9ead3;
  }
  
  main {
    background-color: #d9ead3;
    flex: 1;
    padding: 2% 4%;
  }
  